.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-login input, select, option{
  padding-left: 10px;
  padding-right: 10px;
  height: 20px;
  border: 2px solid #8FBC8F;
  border-radius: 50px 50px  0 50px;
}
.App-login textarea{
  width:60%;
  height:20%;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid #8FBC8F;
  border-radius: 50px 50px  0 50px;
}
.App-login button {
  margin: 10px;
  color: white;
  background: #8FBC8F;
  border: 2px solid #8FBC8F;
  border-radius: 3px;
}
.App-login div{
margin:50px;
}
.frond_page_icon{
margin: 10px;
weight:64px;
height:64px;
}
